* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    padding: 10px;
    font-weight: 400;
}

.slider{
    background: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 78%);
}

.sliderWrapper {
    
}
