* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  padding: 10px;
  font-weight: 400;
}

.slider {
  background: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 78%);
}

.sliderWrapper {
  display: flex;
  width: 500vw;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
}

.sliderImage {
  z-index: 1;
}

/*! if the slider title is absoute, you need to make your parent relative.*/
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: white;
  border: 3px solid gray;
  border-radius: 10%;
  padding: 10px;
  z-index: 1;
}

.buyButtonSlider {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  transition: 200ms ease-in-out;
}

.buyButtonSlider:hover {
    background-color: white;
    color: black;
}

/* ? ----------- SLIDER EFFECT --------------- */

.sliderItem:nth-child(1) .slideBg{
    background-color: green;
}

.sliderItem:nth-child(2) .slideBg{
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .slideBg{
    background-color: teal;
}

.sliderItem:nth-child(4) .slideBg{
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .slideBg{
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: green;
}

.sliderItem:nth-child(2) .sliderPrice{
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice{
    color: teal;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(124, 115, 80);
}

